<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="WatchInterval" value="60"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=notify365;AccountKey=xleVo5I+9ukF9HhnWBOsuHaeH8LIzfYlV68MUYQp5z7olnCb74xQp616nfF977ExzZh0XOiUmfc5j/s6Qltvtw==" />

    <add key="CRMOpenUrl" value="http://192.168.93.222:8082/CRMPRODWARE/HttpFront.aspx"/>
    <add key="CRMSoapAction" value="/soap/action/query"/>

  </appSettings>
</configuration>
