<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="appName" value="CrmOpenFormSubmitService" />

  <targets async="true">
    <target name="console" xsi:type="Console" />
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              layout="${longdate} - ${level:uppercase=true}:${logger} ${message}"
             
              fileName="${basedir}\logs\log.txt"
              keepFileOpen="false"
              archiveFileName="${basedir}\logs\log_${shortdate}.{##}.txt"
               
              archiveNumbering="Sequence"
              archiveEvery="Day"
              maxArchiveFiles="10"
            />
    </target>

  </targets>
  <rules>
    <logger name="*" writeTo="console" minlevel="Trace" />
    <logger name="*" writeTo="logFile" minlevel="Trace" />
  </rules>
</nlog>